/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
}

header .logo img {
    height: 50px;
}

header nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

/* Banner */
.banner {
    width: 100%;
    height: 300px;
    background-color: #333;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Sobre */
.sobre {
    display: flex;
    align-items: center;
    padding: 20px;
}

.sobre .perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.sobre .descricao {
    max-width: 600px;
}

.sobre .links-sociais a {
    color: #000;
    text-decoration: none;
    margin-right: 10px;
}

/* Episódios */
.episodios {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.episodios .navegacao {
    flex: 0 0 50px;
}

.episodios-container {
    display: flex;
    overflow: hidden;
    width: calc(100% - 100px); /* Ajusta a largura para incluir as setas */
}

.episodios-row {
    display: flex;
    transition: transform 0.3s ease;
}

.episodios .episodio {
    margin: 0 10px;
}

.episodios .episodio iframe {
    width: 300px; /* Largura do embed */
    height: 380px; /* Altura do embed */
    border: none; /* Remove borda padrão */
}