/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
}

header .logo img {
    height: 50px;
}

header nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

/* Banner */
.banner {
    width: 100%;
    height: 300px;
    background-color: #333;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Sobre */
.sobre {
    display: flex;
    align-items: center;
    padding: 20px;
}

.sobre .perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.sobre .descricao {
    max-width: 600px;
}

.sobre .links-sociais a {
    color: #000;
    text-decoration: none;
    margin-right: 10px;
}

/* Episódios */
.episodios {
    padding: 20px;
}

.episodios-container {
    display: flex;
    flex-direction: column; /* Alinha os episódios verticalmente */
}

.episodios .episodio {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.episodios .imagem-episodio img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.episodios .info-episodio h3 {
    margin-bottom: 5px;
}

.episodios .info-episodio p {
    font-size: 14px;
    color: #666;
    overflow: hidden; /* Garante que o texto não exceda o espaço */
    display: -webkit-box; /* Usado para criar um bloco flexível */
    -webkit-line-clamp: 3; /* Limita a 3 linhas */
    -webkit-box-orient: vertical; /* Alinha o texto verticalmente */
}

.episodios .info-episodio small {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #aaa;
}

/* Navegação */
.navegacao {
    display: flex;
    justify-content: space-between; /* Para alinhar os botões nos extremos */
    margin: 20px 0; /* Espaçamento acima e abaixo */
    align-items: center; /* Para alinhar verticalmente os itens */
}

.navegacao button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    width: 50px; /* Define uma largura fixa para os botões */
}

.navegacao button:hover {
    background-color: #555;
}